<div class="navbar bg-base-100 shadow-lg">
  <div class="flex-1">
    <%= link_to root_path, class: "btn btn-ghost text-xl" do %>
      RBV
    <% end %>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <% if logged_in? %>
        <li>
          <%= link_to "在庫一覧", stocks_path, class: "btn btn-ghost" %>
        </li>
        <li>
          <%= link_to "在庫登録", new_stock_path, class: "btn btn-ghost" %>
        </li>
        <li>
          <%= link_to "ログアウト", logout_path, data: { turbo_method: :delete }, class: "btn btn-ghost" %>
        </li>
      <% else %>
        <li>
          <%= link_to "ユーザー登録", new_user_path, class: "btn btn-ghost" %>
        </li>
        <li>
          <%= link_to "ログイン", login_path, class: "btn btn-ghost" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
